* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: ; */
  font-style: normal;
}

.header {
  margin: 0 20px;
}
.header-btn {
  height: 30px;
  width: 70px;
}
.flag {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.sm {
  width: 30px;
  height: 30px;
}
.footer {
  background-color: black;
  color: white;
  font-size: small;
}
a:visited {
  color: gray;
}
.text-right:hover {
  color: yellow;
}
.home-bg {
  position: relative;
  top: 0;
  left: 0;
}
.home-img {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.home-content {
  position: absolute;
  top: 250px;
  left: 30px;
  width: 50%;
  height: 100px;
  color: aliceblue;
  font-size: xx-large;
  font-weight: 700;
}
@media only screen and (max-width: 500px) {
  .home-content {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 50%;
    height: 100px;
    color: aliceblue;
    font-size: small;
    font-weight: 400;
  }
}
.cont-card {
  background-image: url("images/clothes9.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* or contain */
  background-position: center center;
}
.hc {
  color: aliceblue;
  font-weight: 700;
}

div.card-act:hover {
  background-color: #f0f0f0;
}
.card-img {
  height: 190px;
}

.text-size {
  font-size: 10px;
  color: grey;
  margin: 0 3px;
}
.cart-btn {
  position: absolute;
  bottom: 5px;
  left: 50px;
  height: 35px;
}
.icon-size {
  color: #3498db;
  left: 4.2vw;
}
.pol-desc {
  margin-top: -4px;
  font-size: x-small;
}
.best-seller {
  position: absolute;
  top: 2px;
  right: 2px;
}
.fur-head {
  position: absolute;
  top: 90px;
  left: 30%;
}
.fur-head-font {
  font-size: 50px;
  font-weight: 700;
  color: #503d2f;
}
.fur-head-btn {
  width: 150px;
  height: 40px;
  position: absolute;
  top: 80px;
  left: 35%;
  background-color: #d1c8bc;
  transition: box-shadow 0.5s ease-in-out;
}

.fur-3rd-content {
  width: 35%;
  position: absolute;
  top: 150px;
  right: 100px;
}
.fur-2nd-content {
  width: 30%;
  position: absolute;
  top: 50px;
  left: 500px;
}
.fur-2nd-btn {
  width: 150px;
  height: 40px;
  position: absolute;
  top: 130px;
  left: 26%;
  background-color: #d1c8bc;
  transition: box-shadow 0.4s ease-in-out;
}
.fur-3rd-btn {
  transition: 0.4s ease-in;
}

.fur-3rd-btn:hover,
.fur-2nd-btn:hover,
.fur-head-btn:hover {
  box-shadow: 0 5px 15px #000000cc;
}
.shopName {
  font-size: 10px;
  color: #503d2f;
}
@media (max-width: 576px) {
  .slidCard {
    flex: 0 0 calc(33.33% - 10px); /* 3 items per row */
    max-width: calc(33.33% - 10px);
  }
  .slidCard:nth-child(n + 4) {
    display: none; /* Hide items beyond the first 3 */
  }
}
