* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: ; */
  font-style: normal;
}

.header {
  margin: 0 20px;
}
.header-btn {
  height: 30px;
  width: 70px;
}
.flag {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.sm {
  width: 30px;
  height: 30px;
}
.footer {
  background-color: black;
  color: white;
  font-size: small;
}
a:visited {
  color: gray;
}
.text-right:hover {
  color: yellow;
}
.home-bg {
  position: relative;
  top: 0;
  left: 0;
}
.home-img {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.home-content {
  position: absolute;
  top: 250px;
  left: 30px;
  width: 50%;
  height: 100px;
  color: aliceblue;
  font-size: xx-large;
  font-weight: 700;
}
@media only screen and (max-width: 500px) {
  .home-content {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 50%;
    height: 100px;
    color: aliceblue;
    font-size: small;
    font-weight: 400;
  }
}

div.card-act:hover {
  background-color: #f0f0f0;
}
.card-img {
  height: 190px;
}

.text-size {
  font-size: 10px;
  color: grey;
  margin: 0 3px;
}
.add-to-cart-btn {
  position: absolute;
  left: 25%;
}
.icon-size {
  color: #3498db;
  left: 4.2vw;
}
.pol-desc {
  margin-top: -4px;
  font-size: x-small;
}
.best-seller {
  position: absolute;
  top: 2px;
  right: 2px;
}
.discount {
  position: absolute;
  top: 2px;
  left: 2px;
}
.fur-head {
  position: absolute;
  top: 15%;
  left: 31%;
}
.fur-head-font {
  font-size: 3.5vw;
  font-weight: 700;
  color: #503d2f;
}
.fur-head-btn {
  width: 10vw;
  height: 6vh;
  position: absolute;
  top: 83%;
  left: 35%;
  background-color: #d1c8bc;
  transition: box-shadow 0.5s ease-in-out;
}

.fur-3rd-content {
  width: 35%;
  position: absolute;
  top: 25%;
  right: 10%;
}
.fur-2nd-content {
  width: 30%;
  position: absolute;
  top: 8%;
  left: 35%;
}
.fur-2nd-btn {
  width: 150px;
  height: 40px;
  position: absolute;
  top: 130px;
  left: 26%;
  background-color: #d1c8bc;
  transition: box-shadow 0.4s ease-in-out;
}
.fur-3rd-btn {
  transition: 0.4s ease-in;
}

.fur-3rd-btn:hover,
.fur-2nd-btn:hover,
.fur-head-btn:hover {
  box-shadow: 0 5px 15px #000000cc;
}
.shopName {
  font-size: 10px;
  color: #503d2f;
}
.offer-card {
  width: 100%;
  height: 25rem;
}
.carousel-img {
  height: 500px;
}
.cart-img {
  width: 10%;
}
.cart-item-desc {
  width: 10vw;
}

.product-card-body {
  width: 15vw;
  height: 9rem;
}
.product-card img {
  width: 15vw;
}
.product-card button {
  width: 7.5vw;
}

.display-shop-name {
  position: absolute;
  top: 70%;
  left: 5%;
  color: white;
}

@media only screen and (max-width: 576px) {
  .mob-cart {
    display: none;
  }
  .cata-img {
    width: 100%;
    padding: 0 8px;
  }
  img.offer-card {
    width: 100%;
    height: 10rem;
  }
  .carousel-img {
    height: 22vh;
  }
  .fur-head {
    position: absolute;
    top: 15%;
    left: 31%;
  }
  .cart-mob {
    position: absolute;
    top: 50%;
  }
  .cart-img {
    width: 12%;
  }
  .cart-item-desc {
    width: 35vw;
  }
  .product-card-body {
    font-size: 4vw;
    width: 100%;
    height: 150px;
  }
  .product-card-body button {
    font-size: 3vw;
    width: 22vw;
    height: 30px;
  }
  .product-card {
    width: 45.5vw;
  }
  .product-card img {
    width: 100%;
  }
  .nav-cart {
    position: relative;
    left: 12vh;
  }
  .display-shop-name {
    position: absolute;
    font-size: 3vw;
    top: 70%;
    left: 2%;
    color: white;
  }
  .fur-head-btn,
  .fur-2nd-btn {
    position: absolute;
    font-size: 8px;
    width: 50px;
    height: 15px;
    padding-top: 2px;
    background-color: #d1c8bc;
    transition: box-shadow 0.5s ease-in-out;
  }
  .fur-2nd-btn {
    top: 55%;
  }

  .fur-2nd-content {
    width: 35%;
    position: absolute;
    top: 8%;
    left: 35%;
    font-size: 0px;
  }
  .fur-3rd-content {
    top: 5%;
    font-size: 2vw;
  }
  .fur-3rd-btn:hover,
  .fur-2nd-btn:hover,
  .fur-head-btn:hover {
    box-shadow: 0 5px 15px #000000cc;
  }
}
